.logo {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0;
}

.search {
    color: #fff;
    font-size: 14px;
}

.nav {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #dbdbdf;
    font-weight: 500;
    font-size: 15px;
    padding: 12px 22px;
}

.nav a:hover {
    transition: 0.7s;
    color: #fff;
}

.selected {
    background: #2e2c2b;
    color: rgb(245, 99, 0)!important;
}